{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="form-container">
    <div class="register-form">
        <h1>Create a new account</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            {{form.username}}
            {{form.password}}
            {{form.email}}
            {{form.team}}

            <button type="submit" class="btn register-btn">CREATE</button>
        </form>
        
    </div>

    <img id="side-img" src="{% static 'players/images/lion_logo.png' %}" alt="">

</div>

{% endblock content %}